<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Add Book</title>

</head>

<body>

<h1>Add New Book</h1>

<form action="#" th:action="@{/books/add}" th:object="${book}" method="post">

    <label>Title: <input type="text" th:field="*{title}" required /></label><br/><br/>

    <label>Author: <input type="text" th:field="*{author}" required /></label><br/><br/>

    <label>Price: <input type="number" step="0.01" th:field="*{price}" required /></label><br/><br/>

    <label>Copies: <input type="number" th:field="*{copies}" required /></label><br/><br/>

    <button type="submit">Add Book</button>

</form>

<br/>

<a th:href="@{/books}">Back to List</a>

</body>

</html>
